

header, footer, .modal-content {
    background-color: #1C0539;
}

main {
    flex: 1 0 auto;
    margin-top: 66px;
  }


  /* Style the footer */
  footer {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.logo {
    max-height: 50px;
}

h1{
    font-family: 'Yusei Magic', sans-serif;
    color:#97C9C2;
    text-align: left;
}

h2 {
    font-family: 'Yusei Magic', sans-serif;
    color: white;
    text-align: center;
}

h3 {
    font-family: 'Yusei Magic', sans-serif;
    color: white;
}

.green-font {
    color: #97C9C2;
}

/* --- Modal styling --- */
.modal-body {
    color: white;
}

#levelPic {
    max-width: 250px;
}

#orbPic {
    max-width: 55px;
}

.btn-primary {
    background-color: #457D75;
    border: none;
    box-shadow: 0 0 5px 5px #61B0A5;
    transition: transform 0.3s;
}

.btn-primary:hover, .btn-primary:focus, :not(.btn-check)+.btn:active{
    background-color: #457D75;
    border: none;
    box-shadow: 0 0 8px 8px #61B0A5;
}
.btn-primary:hover .fa-play {
    transform: translateX(4px);
    font-size: 1.25rem;
    vertical-align: middle;
    transition: transform 0.3s ease; 
}

.button-font, .home-button-font {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* --- Home Page styling --- */

.home-background-wrapper {
    position: relative;
    min-height: 100vh;
    background: url(../images/space_background.svg) no-repeat center;
    background-size: cover;
}



.planet-button {
    border-radius: 50%;
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center; 
    align-items: center; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    max-width: 125px;
    aspect-ratio: 1;
    box-shadow: #1c053996 8px 8px 4px;
    margin: 10px;
    cursor: pointer;
}

#main-game-button, 
#instructions-button, 
#freeplay-game-button{
    border-radius: 50%;
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    margin: auto;
}

#main-game-button {
    background: url(../images/hud_background.svg) no-repeat center / cover;; 
}
.planet-button:hover {
    transform: scale(1.05); 
}


#instructions-button {
    background: url(../images/pink_planet.svg) no-repeat center / cover;; 
}

#freeplay-game-button {
    background: url(../images/green_planet.svg) no-repeat center / cover;; 
}


/* --- Game styling --- */

body, html {
    display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--white-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}

.background-wrapper {
    position: relative;
    min-height: 100vh;
    background: url(../images/game_background.svg) no-repeat 70%  bottom;
    background-size: cover;
}

.heads-up-display, #game-controls {
    justify-content: space-between;
    max-width: 50vh;
    margin:auto;
}
.heads-up-display-items {
    display:flex;
    align-items: center;
    background: url(../images/hud_background.svg) no-repeat center;
    max-width: 125px;
    aspect-ratio: 1;
    color:white; 
}

.game-control-buttons {
    display:flex;
    align-items: center;
    justify-content: center;
    background: url(../images/game_control_button.svg) no-repeat center;
    max-width: 60px;
    aspect-ratio: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color:white; 
}



#menu-button {
    display: inline-block;
    position: relative; 
}


#rest-icon {
    width: 95%;
}

#rest-icon, #hint-text, #menu-button {
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
}

.line {
    display: block;
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    border-radius: 5px;
    transition: transform 0.3s, opacity 0.3s;
}

/* menu toogle animaition when expanded and collasped */
.collasped .line:nth-child(1) {
    transform: translateY(0) rotate(0);
}

.collasped .line:nth-child(2) {
    opacity: 1;
}

.collasped .line:nth-child(3) {
    transform: translateY(0) rotate(0);
}

.expanded #menu-button {
    transform: translateY(-100%);
}

.expanded .line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.expanded .line:nth-child(2) {
    opacity: 0;
}

.expanded .line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

#toggle-menu {
    position: absolute;
    width: 150%;
    top: calc(-100% - 80px);
    left: -25%;
    background: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s; 
    z-index: 2;
    pointer-events: none; 
}

.expanded #menu-button {
    transform: translateY(-100%);
}

.expanded #toggle-menu {
    opacity: 1; /* Make the submenu visible */
    transform: translateY(0);
    pointer-events: auto;
}

.submenu-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    border: none;
    background: url(../images/game_control_button.svg) center no-repeat ;
    color: white;
    text-align: center;
    cursor: pointer;

}



#reset-icon:hover {
    transform: rotate(45deg);   
}

#hint-text:hover {
    font-size: 1.4rem;

}

#hint-button {
    position: relative; /* Set the parent element as a positioning context */
}

.deactivated-button {
    color: #666;
    cursor: not-allowed;
    user-select: none; 
}

.circle-overlay {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background-color: rgb(153, 16, 165);
    border-radius: 50%;
    z-index: 1;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem; 
    line-height: 1; 
}

#move-counter, #timer {
    font-family: 'Yusei Magic', sans-serif;
    font-size:38px;
    justify-content: center;
}


#game-grid {
    display: grid;
    justify-items: center;
    gap: 5px;
    max-height: 50vh;
    aspect-ratio: 1; 
    margin: auto;
}

#game-grid .row {
    align-items: center;
    /* justify-content: center;*/
    gap: 5px;
  }

/* Light styling */
.light {
    width: 100%;
    aspect-ratio: 1;
    background-color: lightgrey;
  }

  .on:not(.fire, .water, .earth, .air) {
    background-color: #ffc0cb; /* Pink colour for "on" state */
    box-shadow: 0 0 7px 1px #ff69b4; /* Hot pink colour for "on" state - adds a glow */
  }

  .flashing {
    animation: flash 1s infinite;
  }
  
  @keyframes flash {
    0%, 50% {
      background-color: #f1c40f; /* Yellow colour for flashing */
    }
    25%, 75% {
      background-color: #ffde59; /* Lighter yellow colour for flashing */
    }
  }

/* Styling the game orbs */
.fire, .water, .earth, .air {
  position: relative;
}

/* Pseudo-element for the grey square background */
.fire::before, .water::before, .earth::before, .air::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Pseudo-element for the glowing orb */
.fire.on::after {
  content: '';
  width: 60%; /* Adjust the size of the orb (smaller) */
  height: 60%; /* Adjust the size of the orb (smaller) */
  background: #F8B251 url(../images/fire_orb.svg) no-repeat center; /* Fully orange color for the glowing orb */
  border-radius: 50%; /* Make it a circular shape */
  position: absolute;
  top: 50%; /* Position the orb in the vertical middle */
  left: 50%; /* Position the orb in the horizontal middle */
  transform: translate(-50%, -50%); /* Center the orb perfectly */
  z-index: 1; /* Position the pseudo-element in front of the grey square */
  box-shadow: 0 0 4px 4px #F9F871; /* Glowing effect for the orb */
}

/* Pseudo-element for the glowing orb */
.water.on::after {
    content: '';
    width: 60%; /* Adjust the size of the orb (smaller) */
    height: 60%; /* Adjust the size of the orb (smaller) */
    background: #00BCD4 url(../images/water_orb.svg) no-repeat center; /* Fully blue color for the glowing orb */
    border-radius: 50%; /* Make it a circular shape */
    position: absolute;
    top: 50%; /* Position the orb in the vertical middle */
    left: 50%; /* Position the orb in the horizontal middle */
    transform: translate(-50%, -50%); /* Center the orb perfectly */
    z-index: 1; /* Position the pseudo-element in front of the grey square */
    box-shadow: 0 0 4px 4px #9AFFF6; /* Glowing effect for the orb */
  }

  /* Pseudo-element for the glowing orb */
.earth.on::after {
    content: '';
    width: 60%; /* Adjust the size of the orb (smaller) */
    height: 60%; /* Adjust the size of the orb (smaller) */
    background: #228B22 url(../images/earth_orb.svg) no-repeat center; /* Fully blue color for the glowing orb */
    border-radius: 50%; /* Make it a circular shape */
    position: absolute;
    top: 50%; /* Position the orb in the vertical middle */
    left: 50%; /* Position the orb in the horizontal middle */
    transform: translate(-50%, -50%); /* Center the orb perfectly */
    z-index: 1; /* Position the pseudo-element in front of the grey square */
    box-shadow: 0 0 4px 4px #56D656; /* Glowing effect for the orb */
  }

    /* Pseudo-element for the glowing orb */
.air.on::after {
    content: '';
    width: 60%; /* Adjust the size of the orb (smaller) */
    height: 60%; /* Adjust the size of the orb (smaller) */
    background: #87EAEB url(../images/air_orb.svg) no-repeat center; /* Fully blue color for the glowing orb */
    border-radius: 50%; /* Make it a circular shape */
    position: absolute;
    top: 50%; /* Position the orb in the vertical middle */
    left: 50%; /* Position the orb in the horizontal middle */
    transform: translate(-50%, -50%); /* Center the orb perfectly */
    z-index: 1; /* Position the pseudo-element in front of the grey square */
    box-shadow: 0 0 4px 4px #70C3BC; /* Glowing effect for the orb */
  }




  @media (min-aspect-ratio: 1/1) and (max-width: 600px) {
    .planet-button {
        max-width: 30vh;
    }

    .home-button-font {font-size: 16px;}
}

